---
import Layout from "@/layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { ROUTES } from "@/utils/constants";

const notes = await getCollection("notes");

const tags = [
  ...new Set(notes.flatMap((item: CollectionEntry<"notes">) =>
    item.data.tags.map((t: string) => t.toLowerCase())
  )),
].sort((a, b) => a.localeCompare(b));
---

<Layout
  title="Tags"
  description="Select specific notes based on the list of tags below."
>
  <div
    class:list={[
      "flex w-full flex-col items-start justify-start",
      "md:text-start",
    ]}
  >
    <section class="w-full">
      <h1 data-cy="heading" class="mb-0">~/tags</h1>
      <div class="slide-enter-content">
        <p data-cy="description" class="mb-0 text-justify">
          Select specific notes based on the list of tags below.
        </p>
      </div>
    </section>
    <section
      data-cy="tags-list"
      class="mt-8 flex w-full flex-wrap items-center justify-start gap-3 slide-enter-content"
    >
      {
        tags.map((item) => (
          <a href={ROUTES.tag(item)}>
            <button class="bg-monochrome-2 hover:bg-monochrome-3 transition-colors px-4 py-1 rounded-md">
              <p class="mb-0 mt-0 text-base-0 text-sm font-semibold">{item}</p>
            </button>
          </a>
        ))
      }
    </section>
  </div>
</Layout>
